* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}
#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: red;
  z-index: 9999;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #18191d; */
  /* background: linear-gradient(-45deg, #22110c, #1f0811, #061c24, #072921);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  color: white;
}

/* navigaiton */
/* ------------------------------------ */

.navigationUpper{
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translate(-0% , -50%);
  width: 200px;
  height: fit-content;
  /* background-color: wheat; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation{
  height: 500px;
  width: 80px;
  background: linear-gradient(-45deg, #6b3626, #7e2245, #145c74, #14725b);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border-radius: 12px;
}
.navigation ul{
  width: 100%;
  height: 100%;
  /* background-color: wheat; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
.navigation ul li{
  list-style: none;
  /* background-color: white; */
  
}
.navigation .icon {
  width: 60px;
  height: 60px;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  transition: left 5s ease;

}

.navigation .icon span {
  display: inline-block;
  font-size: 2rem;
  color: white;
  z-index: 9000;
  position: absolute;
  transition:  2s ease; 

}

.navigation .icon span.active {
  color: black;
  z-index: 9000;
  transform: translateX(-30px); 
  transition: transform 0.8s ease; 

}
.navigation ul li a{
  text-decoration: none;
  color: white;
}
#circle{
  position: absolute;
  width: 81px;
  height: 81px;
  background-color: white;
  /* box-shadow:0px 3px 8px  black  inset ; */
  top: 20px;
  outline: none;
  right: 30px;
  transition: 0.8s ease;
  border-radius: 50%;
  border: 6px solid #18191d;
  z-index: 999;
}

.cirleft{
width:30px;
height: 30px;
background-color:transparent;
position: absolute;
top: -36px;
left: 25px;
border-radius: 0% 50% 50% 50%;
box-shadow: -12px 4px 0 #18191d;
}
.cirright{
  width:30px;
height: 30px;
background-color:transparent;
position: absolute;
top: 76px;
left: 25px;
border-radius: 50% 50% 0% 0%;
box-shadow: -11px -4px 0 #18191d;
}
.cir1{
  position: absolute;
  width: 100px;
  height: 80px;
  background-color: #18191d;
  top: 20px;
  right: 30px;
  transition: 0.8s ease;
  border-radius: 12px 45% 45% 12px;
  z-index: 998;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
/*------------------------------ */
/* topbar */
/* ---------------------------------- */
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem;
  padding-right: 5rem;
}

.socialLinks {
  width: 400px;
  height: 100px;
  gap: 20px;
  display: flex;
  align-items: center;
  margin: 0rem 5rem;
}

.socialLinks a {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.socialLinks a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px;
  background-color: white;
  box-shadow:0px 3px 8px  black  inset ;
}

.nav img {
  width: 100px;
}


.menu {
  width: 5em;
  height: 30em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2.85em 0;
  margin: 8% 0 0 3%;
  background-color: #918282;
  list-style-type: none;
  border-radius: 15px;
}
.menu-item {
  display: flex;
  position: relative;
  padding: 1em;
  flex-grow: 1;
  border-radius: 50%;
  justify-content: center;
  z-index: 10;
}
.menu-item::before {
  content: '';
  position: absolute;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  transform: scale(0);
  z-index: -1;
  margin-top: -.65em;
  transition: all 1s;
}
@keyframes strok {

  100% {

      stroke-dashoffset: 400;

  }

}
.menu-item.active .icon {

  animation: strok 1.5s reverse;
  
}
.menu-item.active::before {
  transform: scale(1);
  background-color: rgb(136, 216, 190);
}
.icon {
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
}
.menu-pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5.2em;
  left: 5.3em;
  background-color: rgb(136, 216, 190);
  border-radius: 50%;
}
/*--------------------------------------------------------------
# scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #dedede;
  scrollbar-track-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #dedede;
}

::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}


/* homesection */
.Home-Section ,.about, .resume, .skills, .projects, .certificates,.services{
  width: 100%;
  height: 100vh;
}
.Home-Section, .resume, .projects, .services{
  background-color: #2d0b00;
}
.about, .skills, .certificates{
  background-color: #6b3626;
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 50px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.footer_logo {
  width: 80px;
  position: relative;
  top: -23px;
  left: -20px;
}

.footer_about {
  position: relative;
  top: -23px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer_email {
  width: fit-content;
  border-bottom: 1px solid #f66335;
  margin: 20px 0;
}

.col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
}

.col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f66335;
  margin-bottom: 50px;
}

.col form .icon {
  font-size: 18px;
  margin-right: 10px;
}

.col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.col form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.col form button .icon_right {
  font-size: 16px;
  color: #ccc;
}

.col .social_icons .social_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #f66335;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

footer .copyright {
  text-align: center;
}

.bottom_line {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.bottom_line span {
  width: 15px;
  height: 100%;
  background: #f66335;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}

@keyframes moveline {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}









/* dark mode */
*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
  --slide-ease: cubic-bezier(.4,-0.3,.6,1.3);
/*   --slide-ease: cubic-bezier(.8,-0.3,.2,1.3); */
	--easing: var(--slide-ease);
	--speed: 0.5s;
	--width: clamp(100px, 5vmin, 200px);
	--ar: 8 / 3;
	--ray: hsl(0 0% 100% / 0.5);
	--sun: hsl(47, 91%, 58%);
	--moon: hsl(212, 13%, 82%);
	--crater: hsl(221, 16%, 68%);
	--bg: hsl(182, 34%, 47%);
	--bear-speed: 10s;
  --color: hsl(219 30% 20%);
}

[data-dark-mode=true] {
  --bg: #18191d;
  --color: white;
}

body {
	/* display: grid; */
	/* place-items: center; */
	/* min-height: 100vh; */
	/* overflow: hidden; */
	background: var(--bg);
  transition: background var(--speed) var(--easing);
	font-family: sans-serif, system-ui;
}

.toggle__backdrop:first-of-type .clouds path:first-of-type {
	fill: var(--ray);
}

.toggle {
  -webkit-tap-highlight-color: transparent;
	width: var(--width);
  /* random attempts at tackling the overflow iOS issue */
  z-index: 10;
  will-change: transform;
  isolation: isolate;
  transform: translate3d(0, 0, 0);
  /* End of workaround city   */
	aspect-ratio: var(--ar);
	border-radius: 100vh;
	border: 0;
	position: relative;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
	transition: background var(--speed) var(--easing);
	--sky: hsl(204, 53%, 47%);
	--night: hsl(229, 25%, 16%);
	outline-color: transparent;
	background: hsl(
		calc(204 + (var(--dark, 0) * 25))
		calc((53 - (var(--dark, 0) * 28)) * 1%)
		calc((47 - (var(--dark, 0) * 31)) * 1%)
	);
	box-shadow:
		calc(var(--width) * 0) calc(var(--width) * 0.02) calc(var(--width) * 0.01) calc(var(--width) * -0.0025) hsl(210 10% 100% / 0.95),
		calc(var(--width) * 0) calc(var(--width) * -0.02) calc(var(--width) * 0.01) calc(var(--width) * -0.0025) hsl(210 10% 10% / 0.2),
		calc(var(--width) * 0) calc(var(--width) * 0.02) calc(var(--width) * 0.5) 0 hsl(210 10% 100% / 0.15);
}

.toggle:after {
	content: "";
	position: absolute;
	inset: 0;
	box-shadow:
		calc(var(--width) * 0) calc(var(--width) * -0.025) calc(var(--width) * 0.025) 0 hsl(210 10% 10% / 0.15) inset,
		calc(var(--width) * 0) calc(var(--width) * 0.025) calc(var(--width) * 0.025) 0 hsl(210 10% 10% / 0.65) inset;
	border-radius: 100vh;
}

.toggle__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 100vh;
  display: block;
  clip-path: inset( 0 0 0 0 round 100vh);
}

.toggle__backdrop {
  overflow: visible !important;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	transition: translate var(--speed) var(--easing);
	translate: 0 calc(
		var(--dark, 0) * (100% - (3 / 8 * var(--width)))
	);
}

[aria-pressed=false] .toggle__backdrop:last-of-type {
	transition-timing-function: cubic-bezier(.2,-0.6,.7,1.6);
}
[aria-pressed=false] .stars path {
	transition-delay: 0s;
}

.stars path {
	transform-box: fill-box;
	transform-origin: 25% 50%;
	scale: calc(0.25 + (var(--dark, 0) * 0.75));
	transition: scale var(--speed) calc(var(--speed) * 0.5) var(--easing);
}

.toggle__indicator {
	height: 100%;
	aspect-ratio: 1;
	border-radius: 0%;
	display: grid;
	place-items: center;
	padding: 3%;
}

.pilot-bear {
	position: absolute;
	width: 25%;
}

.toggle__star {
	height: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	position: relative;
	transition: translate var(--speed) var(--easing);
	translate: calc((var(--dark, 0) * -10%) + 5%) 0;
/* 	translate: calc((var(--dark, 0) * -18%) + 5%) 0; */
}

.sun {
	background: var(--sun);
	position: absolute;
	inset: 0;
	border-radius: 50%;
	overflow: hidden;
	box-shadow:
		calc(var(--width) * 0.01) calc(var(--width) * 0.01) calc(var(--width) * 0.02) 0 hsl(210 10% 100% / 0.95) inset,
		calc(var(--width) * -0.01) calc(var(--width) * -0.01) calc(var(--width) * 0.02) 0 hsl(210 10% 20% / 0.5) inset;
}
.moon {
	position: absolute;
	inset: -1%;
	border-radius: 50%;
	background: var(--moon);
  transition: translate var(--speed) ease-in-out;
	translate: calc((100 - (var(--dark, 0) * 100)) * 1%) 0%;
	box-shadow:
		calc(var(--width) * 0.01) calc(var(--width) * 0.01) calc(var(--width) * 0.02) 0 hsl(210 10% 100% / 0.95) inset,
		calc(var(--width) * -0.01) calc(var(--width) * -0.01) calc(var(--width) * 0.02) 0 hsl(210 10% 10% / 0.95) inset;
}

.moon__crater {
	position: absolute;
	background: var(--crater);
	border-radius: 50%;
	width: calc(var(--size, 10) * 1%);
	aspect-ratio: 1;
	left: calc(var(--x) * 1%);
	top: calc(var(--y) * 1%);
	box-shadow:
		calc(var(--width) * 0.01) calc(var(--width) * 0.01) calc(var(--width) * 0.01) 0 hsl(210 10% 6% / 0.25) inset,
		0 calc(var(--width) * 0.005) calc(var(--width) * 0.01) 0 hsl(210 10% 100% / 0.25);
}

.moon__crater:nth-of-type(1) {
	--size: 18;
	--x: 40;
	--y: 15;
}
.moon__crater:nth-of-type(2) {
	--size: 20;
	--x: 65;
	--y: 58;
}
.moon__crater:nth-of-type(3) {
	--size: 34;
	--x: 18;
	--y: 40;
}

.toggle__star:before {
	content: "";
	z-index: -1;
	width: 356%;
	background:
		radial-gradient(hsl(0 0% 100% / 0.25) 40%, transparent 40.5%),
		radial-gradient(hsl(0 0% 100% / 0.25) 56%, transparent 56.5%)
	  hsl(0 0% 100% / 0.25);
	border-radius: 50%;
	aspect-ratio: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: translate var(--speed) var(--easing);
	translate: calc(
		(50 - (var(--dark, 0) * 4)) *
		-1%
	)
	-50%;
}

.toggle__star:after {
	content: "";
	position: absolute;
	inset: 0;
	display: block;
	background: hsl(0 0% 0% / 0.5);
	filter: blur(4px);
	translate: 2% 4%;
	border-radius: 50%;
	z-index: -1;
}

.toggle__indicator-wrapper {
	position: absolute;
	inset: 0;
	transition: translate var(--speed) var(--slide-ease);
	translate: calc(
		var(--dark, 0) * (var(--width) - (3 / 8 * var(--width)))
	) 0;
}

[aria-pressed=true] {
	--dark: 1;
}

/* Fun stuff! */

/* We have 11 stars */

.stars g {
	transform-box: fill-box;
	transform-origin: 50% 50%;
}
.stars g:nth-of-type(3) {
	animation: twinkle 4s -2s infinite;
}

.stars g:nth-of-type(11) {
	animation: twinkle 6s -2s infinite;
}

.stars g:nth-of-type(9) {
	animation: twinkle 4s -1s infinite;
}

@keyframes twinkle {
	0%, 40%, 60%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(0);
	}
}

.astrobear {
	width: 12%;
	position: absolute;
	top: 100%;
	left: 0%;
	transition: translate calc(var(--speed) + (var(--dark, 0) * (var(--bear-speed) - var(--speed))))
		calc(var(--bear-speed) * (0.4 * var(--dark, 0))) linear;
	translate: calc(var(--dark, 0) * 400%) calc(var(--dark, 0) * -350%);
}

.astrobear svg {
	transform-origin: 50% 75%;
	scale: var(--dark, 0);
	rotate: calc(var(--dark, 0) * 360deg);
	transition: rotate calc(var(--speed) + (var(--dark, 0) * (var(--bear-speed) - var(--speed)))) calc(var(--bear-speed) * 0.4) linear, scale var(--speed) ease-in-out;
}


.astrobear__container {
	position: absolute;
	overflow: hidden;
	inset: 0;
	clip-path: inset(0 0 0 0);
	opacity: var(--dark, 0);
	translate: 0 calc(-200% + (var(--dark, 0) * 200%));
	transition: opacity var(--speed) var(--easing), translate var(--speed) var(--easing);
}

.pilot__container {
	position: absolute;
	overflow: hidden;
	inset: 0;
	clip-path: inset(0 0 0 0);
	opacity: calc(1 - var(--dark, 0));
	translate: 0 calc(var(--dark, 0) * 200%);
	transition: opacity var(--speed) var(--easing), translate var(--speed) var(--easing);
}

.pilot-bear {
	width: 18%;
	position: absolute;
	top: 70%;
	left: 100%;
	transition:
		translate
			calc(
				var(--speed) + ((1 - var(--dark, 0)) *
					((var(--bear-speed) * 0.5) - var(--speed))))
			calc((var(--bear-speed) * 0.5) * ((1 - var(--dark, 0)) * 0.4)) linear;
	translate:
		calc(
			(0 - (1 - var(--dark, 0))) * (var(--width) + 100%)
		) calc(
		(0 - (1 - var(--dark, 0))) * (200%)
	);
}

.pilot {
	rotate: 12deg;
	animation: fly 4s infinite ease-in-out;
}

@keyframes fly {
	50% { translate: 0 -25%; }
}

.controls {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: sans-serif;
  color: var(--color);
  transition: color var(--speed) var(--easing);
}

[type=checkbox] {
  accent-color: var(--color);
  transition: accent-color var(--speed) var(--easing);
}