* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}
#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: red;
  z-index: 9999;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #18191d;
  /* background: linear-gradient(-45deg, #22110c, #1f0811, #061c24, #072921);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  color: white;
}

/* navigaiton */
/* ------------------------------------ */

.navigationUpper{
  position: fixed;
  right: 50px;
  width: 200px;
  height: fit-content;
  /* background-color: wheat; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation{
  height: 600px;
  width: 100px;
  background-color: red;
  border-radius: 12px;
}
.navigation ul{
  width: 100%;
  height: 100%;
  /* background-color: wheat; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.navigation ul li{
  list-style: none;
  /* background-color: white; */
  
}
.navigation .icon{
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.navigation ul li a{
  text-decoration: none;
}
#circle{
  position: absolute;
  width: 81px;
  height: 81px;
  background-color: white;
  top: 20px;
  right: 30px;
  transition: 0.8s ease;
  border-radius: 50%;
  border: 6px solid #18191d;
  z-index: 999;
}

.cirleft{
width:30px;
height: 30px;
background-color:transparent;
position: absolute;
top: -35px;
left: 5px;
border-radius: 50%;
box-shadow: -9px 8px 0 #18191d;
}
.cirright{
  width:30px;
height: 30px;
background-color:transparent;
position: absolute;
top: 74px;
left: 5px;
border-radius: 50%;
box-shadow: -9px -10px 0 #18191d;
}
.cir1{
  position: absolute;
  width: 100px;
  height: 80px;
  background-color: #18191d;
  top: 20px;
  right: 30px;
  transition: 0.8s ease;
  border-radius: 12px 45% 45% 12px;
  z-index: 998;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
/*------------------------------ */
/* topbar */
/* ---------------------------------- */
.nav {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
}

.socialLinks {
  width: 300px;
  height: 100px;
  gap: 20px;
  display: flex;
  align-items: center;
  margin: 5rem;
}

.socialLinks a {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.socialLinks a img {
  width: 45px;
  height: 45px;
}

.nav img {
  width: 100px;
}


.menu {
  width: 5em;
  height: 30em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2.85em 0;
  margin: 8% 0 0 3%;
  background-color: #918282;
  list-style-type: none;
  border-radius: 15px;
}
.menu-item {
  display: flex;
  position: relative;
  padding: 1em;
  flex-grow: 1;
  border-radius: 50%;
  justify-content: center;
  z-index: 10;
}
.menu-item::before {
  content: '';
  position: absolute;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  transform: scale(0);
  z-index: -1;
  margin-top: -.65em;
  transition: all 1s;
}
@keyframes strok {

  100% {

      stroke-dashoffset: 400;

  }

}
.menu-item.active .icon {

  animation: strok 1.5s reverse;
  
}
.menu-item.active::before {
  transform: scale(1);
  background-color: rgb(136, 216, 190);
}
.icon {
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
}
.menu-pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5.2em;
  left: 5.3em;
  background-color: rgb(136, 216, 190);
  border-radius: 50%;
}
/*--------------------------------------------------------------
# scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #dedede;
  scrollbar-track-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #dedede;
}

::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 50px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.footer_logo {
  width: 80px;
  position: relative;
  top: -23px;
  left: -20px;
}

.footer_about {
  position: relative;
  top: -23px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer_email {
  width: fit-content;
  border-bottom: 1px solid #f66335;
  margin: 20px 0;
}

.col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
}

.col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f66335;
  margin-bottom: 50px;
}

.col form .icon {
  font-size: 18px;
  margin-right: 10px;
}

.col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.col form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.col form button .icon_right {
  font-size: 16px;
  color: #ccc;
}

.col .social_icons .social_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #f66335;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

footer .copyright {
  text-align: center;
}

.bottom_line {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.bottom_line span {
  width: 15px;
  height: 100%;
  background: #f66335;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}

@keyframes moveline {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}